/* Menu hambúrguer e menu lateral NÃO aparecem no PC */
.menu-mobile-icon,
.menu-lateral {
    display: none;
}

@media (max-width: 950px) {

    nav.cabecalho {
        display: none !important;
    }

    header {
        padding: 20px !important;
        justify-content: space-between !important;
        margin-top: 12px;
    }

    .logo {
        width: 120px !important;
        margin: 0 !important;
        position: static !important;
    }

    /* Ícones do topo */
    .icones-topo {
        display: flex !important;
        align-items: center !important;
        gap: 18px !important;
        margin-right: 0 !important;
    }

    .login, .carrinho {
        display: flex !important;
        top: 3px !important;
    }

    .icones-topo img {
        width: 28px !important;
        height: 28px !important;
    }

    /* =========================
       MENU MOBILE
    ========================= */

    /* Mostra ícone do menu (hambúrguer) */
    .menu-mobile-icon {
        display: block !important;
    }

    #openMenu,
    #closeMenu {
        width: 32px !important;
        cursor: pointer !important;
    }

    /* Menu lateral (visível só no mobile, JS controla abertura) */
    .menu-lateral {
        display: block;
    }

    .cardapio-fundo {
        margin-top:70px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cards-pizza {
       position: relative;
         top: -200px;
    }

    .fundos {
        position: relative;
        top: 5px;
    }

    .fundo-branco {
        position: relative;
        margin-top: 190px;
        left: 0;
        width: 90%;
    }

    .fundo-branco h1 {
        font-size: 28px;
    }
}